################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calcolatrice/Calcolatrice/obj
/Calcolatrice/.vs/Calcolatrice/DesignTimeBuild
